.header {
  max-width: 1200px;
  padding: 50px 0;
  color: #fff;
  clear: both;
  background: url(/src/assets/Background.png) no-repeat;
  margin: 0 auto;
  text-align: center;

  > h1 {
    font-family: 'Overseer', sans-serif;
    font-size: 3.5em;
    font-style: italic;
  }

  > P {
    font-family: 'Monofonto', sans-serif;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 501px) {
  .header {
    background-position: center bottom -20px;
    background-size: 90% auto;
  }
}

@media screen and (min-width: 881px) {
  .header {
    padding-bottom: 80px;
  }
}


@media screen and (max-width: 500px) {
  .header {
    background-position: center bottom -7px;
    background-size: 140% auto;
  }
}