.navbar {
  position: sticky;
  width: 100%;
  background: var(--background);
  padding: 10px 10px;
  top: 0;
  height: 84px;
  z-index: 999;

  &::before {
    bottom: 2px;
    left: 1%;
    border-bottom: 2px solid var(--accent);
    transition: 0.5s all;
}

  &::before {
    display: block;
    content: "";
    width: 98%;
    height: 40px;
    position: absolute;
    pointer-events: none;
  }
}

.nav-list {
  display: flex;
  height: 100%;

  > .nav-item {
    list-style: none;

    &:not(:last-of-type) {
      padding-right: 40px;
    }

    > button > svg {
      height: 25.5px !important;
      font-size: 22.5px;
    }
  }

  
}

.nav-btn {
  font-size: 17px;
  font-family: 'Fira Mono', monospace;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  background: none;
  border: none;

  > span {
    height: min-content;
    text-decoration: none;
    color: var(--text);
  }
}

.row {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: start;
}

.nav-list.visible {
  position: absolute;
  width: 100%;
  background: var(--background);
  left: 0;
  height: auto;
  top: 84px;

  > li {
    padding: 10px 10px;

    > a {
      font-size: 20px;
    }
  }
}

.hamburger-icon {
  display: none;
  cursor: pointer;
  font-size: 32px;
  padding: 0 14.56px;
}

@media (max-width: 768px) {
  .nav-list {
    display: none;
  }

  .nav-list.visible {
    display: block;

    &::before {
      bottom: 2px;
      left: 1%;
      border-bottom: 2px solid var(--accent);
      transition: 0.5s all;
  }
  
    &::before {
      display: block;
      content: "";
      width: 98%;
      height: 40px;
      position: absolute;
      pointer-events: none;
    }
  }

  .hamburger-icon {
    display: flex;
  }
}
