.extra-fancy {
  padding: 7% 10%;
  border: 1px dashed var(--accent-alt);
  -webkit-box-shadow: inset 0 0 0 10px #fff, inset 0 0 0 11px var(--accent-alt);
  box-shadow: inset 0 0 0 10px #fff, inset 0 0 0 11px var(--accent-alt);

  > h2 {
    font-family: 'Overseer', sans-serif;
    text-align: center;
    font-size: 2.2em;
    color: var(--text-alt);
  }

  > p {
    font-size: 18px;
  }
}

.fancy {
  margin-bottom: 0 !important;
}

.fancy > .menu-list > li {
  padding: 5%;
}

.title {
  padding-bottom: 10px;
  border-bottom: 1px dashed var(--accent-alt);
  color: var(--accent-alt);
  text-align: center;
  font-family: 'Overseer', sans-serif;
  text-transform: uppercase;
  font-size: 1.8em;
}

.menu-list {
  list-style: none;
  display: grid;
  grid-gap: 10px;
}

.menu-item {
  text-align: center;
}

.name {
  margin-bottom: 5px;
  font-size: 1em;
  line-height: 1.2;
}

@media screen and (min-width: 881px) {
  .menu-list {
      grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}