.intro {
  padding: 7% 10%;
  border: 1px dashed var(--accent-alt);
  -webkit-box-shadow: inset 0 0 0 10px #fff, inset 0 0 0 11px var(--accent-alt);
  box-shadow: inset 0 0 0 10px #fff, inset 0 0 0 11px var(--accent-alt);

  > h2 {
    font-family: 'Overseer', sans-serif;
    text-align: center;
    font-size: 2.2em;
    color: var(--text-alt);
  }

  > p {
    font-size: 18px;
  }
}