@import url('https://fonts.googleapis.com/css2?family=Epilogue&family=Inter:wght@200;600;800&family=Jost:wght@300;400;500;700&family=Lato:wght@400;700&family=Mohave:wght@400;500;600&family=Oswald:wght@400;500;700&family=Shadows+Into+Light&family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/overseer');
@import url('https://fonts.cdnfonts.com/css/monofonto');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Monofonto', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-image: var(--background);
  box-shadow:0 0 5vmin 1vmin #000 inset;

  --background: radial-gradient(#ff2a2a, #000000);
  --text: #dbdaf1;
  --text-alt: #ff2a2a;
  --accent: #dbdaf1;
  --accent-alt: #ff2a2a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

a:focus {
  outline: none;
}

button:focus {
  outline: none;
}

body, #root {
  min-width: 320px;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px 0px 10px;
  font-weight: 600;
  line-height: 1.1;
}

.menu {
  background: #fff;
}

@media screen and (min-width: 881px) {
  .menu, .menu .wide .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
  }

  .menu .wide {
    grid-column: 1/-1;
  }
}


@media screen and (min-width: 501px) {
  .menu {
    padding: 30px;
  }
}

@media screen and (max-width: 500px) {
  .menu {
      padding: 30px 15px;
  }
}

.menu+.menu {
  margin-top: 20px;
}

.menu section, .menu > div > section {
  margin-bottom: 50px;
}
